.createGoal {
    margin: 3%;
    background-color: var();
}

.createTask__back_button {
    margin: 1rem;
    margin-left: 10%;
    background: none;
    border: none;
    z-index: 1;
    position: relative;
}

.createTask__back_button__image {
    height: 20px;
}

.createTask__title {
    margin: 2% 0 2% 0;
    text-align: center;
    z-index: 0;
}

.createTask__main_content {
    z-index: 0;
    position: absolute;
    top: 27.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    }

.createGoal form {
    width: 75%;
    margin: auto;
}

.createTask__form_section {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.createGoal label {
    width: 75%;
    margin: auto;
    padding-bottom: 1rem;
}

.createGoal #title{
    width: 75%;
    margin: auto;
    padding: 0.5rem;
    border-radius: 0.4rem;
}

.createTask__submit {
    background-color: var(--colour-3);
    display: block;
    width: 65%;
    color: white;
    font-weight: bold;
    padding: 1rem;
    margin: auto;
    border: none;
    border-radius: 10px;
}

.createTask__form_section textarea {
    resize: vertical;
    min-height: 5rem;
    width: 75%;
    margin: auto;
    padding: 0.5rem;
    border-radius: 0.3rem;
}
