.cameraComponent__video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.cameraComponent__capture_button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);

    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #CBDCEB;
    border: 5px solid #608BC1;
}
